<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Recruto Test Service</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>Recruto Test Service</h1>
    <form method="get">
        <input name="name" placeholder="Введите имя" value="Recruto"/>
        <input name="message" placeholder="Введите сообщение" value="Давай дружить"/>
        <button type="submit">Отправить</button>
    </form>
    <footer>
        GitHub: <a href="https://github.com/gol43" target="_blank">gol43</a>
    </footer>
</body>
</html>
